In [1]:
import pandas as pd   
import numpy as np  
import matplotlib.pyplot as plt 
import seaborn as sns
from scipy.stats import levene
from scipy.stats import f_oneway
from scipy.stats import shapiro
from scipy.stats import ttest_ind
import numpy as np
import geopandas as gpd
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

In [2]:
#pip install folium

In [3]:
#read csv
birm_unemployment_df=pd.read_csv('../data/Birmingham_Data/Unemployment Rate_Birmingham-Hoover.csv')
birm_crime_north_df=pd.read_excel('../data/Birmingham_Data/open-data-north-2023.xlsx')
birm_crime_south_df=pd.read_excel('../data/Birmingham_Data/open-data-north-2023.xlsx')
birm_crime_west_df=pd.read_excel('../data/Birmingham_Data/open-data-west-2023.xlsx')
birm_crime_east_df=pd.read_excel('../data/Birmingham_Data/opendataportal-east-2023.xlsx')

In [5]:
birm_crime_east_df.head(1)

,Block,Street,Case Address Latitude,Case Address Longitude,Case Address Zip,Case Occurred From Date,Case Offense Statute,Case Offense Statute Description,Case ORI,Reporting District
0,700,SPRINGVILLE RD,33.608202,-86.686890,35215.0,11/30/2023 18:00:00,13A-8-3,Theft of Property Auto Theft 1st,AL0010200,E230
1,8300,DIVISION AVE,33.571259,-86.720541,35206.0,11/30/2023 15:00:00,13A-8-5,Theft from Residence 4th Degree,AL0010200,E223
2,7700,RUGBY AVE,33.557691,-86.718364,35206.0,11/30/2023 14:00:00,13A-8-3,Theft of Property Auto Theft 1st,AL0010200,E224
3,500,61ST ST S,33.538302,-86.742352,35212.0,11/30/2023 12:00:00,13A-6-138,Domestic Strangulation or Suffocation,AL0010200,E234

In [6]:
birm_crime_north_df.head(1)

,Block,Street,Case Address Latitude,Case Address Longitude,Case Address Zip,Case Occurred From Date,Case Offense Statute Description,Reporting District
0,NaN,19TH ST N,33.518551,-86.811302,35203.0,11/30/2023 12:00:00,Theft-From Public Building-1st Degree,N122
1,NaN,26TH ST N,33.553396,-86.818906,35207.0,11/30/2023 11:45:00,"Larceny/Theft-Shoplifting, less than $500",N131
2,NaN,17TH ST N,33.512548,-86.810036,35203.0,11/30/2023,Theft of Property Auto Theft 1st,N122
3,NaN,31ST AVE N,33.553181,-86.817887,35207.0,11/29/2023 18:30:00,Theft by deception,N131

In [8]:
birm_crime_south_df.head(1)

,Block,Street,Case Address Latitude,Case Address Longitude,Case Address Zip,Case Occurred From Date,Case Offense Statute Description,Reporting District
0,NaN,19TH ST N,33.518551,-86.811302,35203.0,11/30/2023 12:00:00,Theft-From Public Building-1st Degree,N122

In [9]:
birm_crime_west_df.head(1)

,Block,Street,Case Address Latitude,Case Address Longitude,Case Address Zip,Case Occurred From Date,Case Offense Statute Description,Reporting District
0,500,16TH WAY SW,33.490053,-86.862152,35211.0,11/30/2023 23:02:00,Disch Firearm into Occupied Bldg/Veh,W429

In [19]:
birm_unemployment_df.head(1)

              Series ID Period
0  LAUMT011382000000003    M01

In [20]:
birm_crime_df = pd.concat([birm_crime_north_df, birm_crime_south_df, birm_crime_east_df, birm_crime_west_df], ignore_index=True)
birm_crime_df.head() #6269 rows Ã— 10 columns

,Block,Street,Case Address Latitude,Case Address Longitude,Case Address Zip,Case Occurred From Date,Case Offense Statute Description,Reporting District,Case Offense Statute,Case ORI
0,NaN,19TH ST N,33.518551,-86.811302,35203.0,11/30/2023 12:00:00,Theft-From Public Building-1st Degree,N122,NaN,NaN
1,NaN,26TH ST N,33.553396,-86.818906,35207.0,11/30/2023 11:45:00,"Larceny/Theft-Shoplifting, less than $500",N131,NaN,NaN
2,NaN,17TH ST N,33.512548,-86.810036,35203.0,11/30/2023,Theft of Property Auto Theft 1st,N122,NaN,NaN
3,NaN,31ST AVE N,33.553181,-86.817887,35207.0,11/29/2023 18:30:00,Theft by deception,N131,NaN,NaN
4,NaN,6TH AVE W,NaN,NaN,NaN,11/29/2023 13:00:00,Theft from Residence 4th Degree,N120,NaN,NaN

In [23]:
#top ten crime in birmingham
top_ten_crime_in_birm=birm_crime_df['Case Offense Statute Description'].value_counts()
top_ten_crime_in_birm.head(10)

Case Offense Statute Description
Theft of Property Auto Theft 1st             1323
Disch Firearm into Occupied Bldg/Veh          502
Burglary (Residence) Force 3rd Degree         458
Miscellaneous Theft-3rd Degree                404
Theft - TOP 2nd Degree                        362
Larceny/Theft-Shoplifting, less than $500     272
Burglary-Residence-No Force-3rd Degree        215
Theft-Firearms-2nd Degree                     175
Domestic Strangulation or Suffocation         167
Larceny/Theft-TOP 2 $500-less than $1500      152
Name: count, dtype: int64

In [ ]:
top_ten_crime_in_birm.head(10).plot(kind="barh", title = "Top Ten Crime in B")