In [1]:
import pandas as pd   
import numpy as np  
import matplotlib.pyplot as plt 
import seaborn as sns
from scipy.stats import levene
from scipy.stats import f_oneway
from scipy.stats import shapiro
from scipy.stats import ttest_ind
import numpy as np

In [22]:
#read csv
nash_crime_df=pd.read_csv('../data/Metro_Nashville.csv')
nash_employment_df=pd.read_csv('../data/Unemployment_Nashville-Davidson.csv')
nash_population_df=pd.read_csv('../data/Nashville_population.csv')
louis_crime_df=pd.read_csv('../data/Louisville_Data/Louisville_Crime_Data_2023.csv')
louis_population_df=pd.read_csv('../data/Louisville_Data/Louisville_Population.csv')
louis_unemployment_df=pd.read_csv('../data/Louisville_Data/Unemployment Rate_Louisville_Jefferson County.csv')
birm_crime_df=pd.read_csv('../data/Birmingham_Data/Unemployment Rate_Birmingham-Hoover.csv')

/var/folders/th/jsjzrfgj5mqb0ntmxxmc9pmm0000gn/T/ipykernel_8808/311301782.py:2: DtypeWarning: Columns (10,14,18) have mixed types. Specify dtype option on import or set low_memory=False.
  nash_crime_df=pd.read_csv('../data/Metro_Nashville.csv')
/var/folders/th/jsjzrfgj5mqb0ntmxxmc9pmm0000gn/T/ipykernel_8808/311301782.py:5: DtypeWarning: Columns (0,10,14) have mixed types. Specify dtype option on import or set low_memory=False.
  louis_crime_df=pd.read_csv('../data/Louisville_Data/Louisville_Crime_Data_2023.csv')

In [23]:
nash_crime_df.head()

,Event Number,Call Received,Complaint Number,Tencode,Tencode Description,Tencode Suffix,Tencode Suffix Description,Disposition Code,Disposition Description,Block,Street Name,Unit Dispatched,Shift,Sector,Zone,RPA,Latitude,Longitude,Mapped Location
0,PD202100625493,10/02/2021 07:13:21 PM,NaN,71,BURGLARY - NON-RESIDENCE,A,ALARM,11,DISREGARD / SIGNAL 9,NaN,NaN,NaN,B,H,523,9557.0,NaN,NaN,NaN
1,PD202100626631,10/03/2021 11:25:42 AM,NaN,43,WANT OFFICER FOR INVESTIGATION / ASSISTA,P,PROGRESS,4,ASSISTED CITIZEN,NaN,NaN,513A,A,H,513,9033.0,NaN,NaN,NaN
2,PD202100626031,10/03/2021 12:54:02 AM,NaN,46,VEHICLE ACCIDENT - PERSONAL INJURY,P,PROGRESS,11,DISREGARD / SIGNAL 9,NaN,NaN,NaN,C,S,323,8889.0,NaN,NaN,NaN
3,PD202100622285,10/01/2021 08:05:43 AM,NaN,43,WANT OFFICER FOR INVESTIGATION / ASSISTA,P,PROGRESS,5,GONE ON ARRIVAL,200.0,OLD HICKORY BLVD,123A,A,NaN,136W,0.0,36.079,-86.919,POINT (-86.919 36.079)
4,PD202100621219,09/30/2021 06:48:20 PM,2.021051e+10,40,SUSPICIOUS PERSON,TS,TERRY STOP,6,ASSISTED OTHER UNIT,NaN,NaN,2P63,B,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
nash_employment_df.head()

              Series ID  Year Period     Label  Value
0  LAUCA474000000000004  2021    M01  2021 Jan  54892
1  LAUCA474000000000004  2021    M02  2021 Feb  52123
2  LAUCA474000000000004  2021    M03  2021 Mar  50828
3  LAUCA474000000000004  2021    M04  2021 Apr  48648
4  LAUCA474000000000004  2021    M05  2021 May  45838

In [25]:
nash_population_df.head()

              Series ID  Year Period     Label  Value
0  LAUCA474000000000004  2021    M01  2021 Jan  54892
1  LAUCA474000000000004  2021    M02  2021 Feb  52123
2  LAUCA474000000000004  2021    M03  2021 Mar  50828
3  LAUCA474000000000004  2021    M04  2021 Apr  48648
4  LAUCA474000000000004  2021    M05  2021 May  45838

In [26]:
louis_crime_df.head()

,Incident_Number,Date_Reported,Date_Occurred,Badge_ID,Offense_Classification,Offense_Code_Name,NIBRS_Code,NIBRS_Group,Was_Offense_Completed,LMPD_Division,LMPD_Beat,Location_Category,Block_Address,City,Zip_Code,ObjectId
0,LMPD23121718,12/11/2023,2023/12/09 05:00:00+00,8585.0,23 THEFT OTHER,THEFT OF MAIL MATTER 514.140 23265 23H,23H,A,Yes,1st Division,123,Residence/Home,800 BLOCK W MUHAMMAD ALI BLVD,LOUISVILLE,40203,1
1,LMPD23121610,12/11/2023,2023/12/01 05:00:00+00,8585.0,23 THEFT OTHER,THEFT OF PROP MISLAID OR DELIVER BY IMISTAKE 5...,23H,A,Yes,7th Division,724,Convenience Store,11800 BLOCK STANDIFORD PLAZA DR,LOUISVILLE,40229,2
2,LMPD23121685,12/11/2023,2023/12/10 05:00:00+00,8142.0,23 THEFT OTHER,"TBUT OR DISP ALL OTHERS $10,000 < $1,000,000 5...",23H,A,Yes,3rd Division,323,Parking/ Drop Lot/ Garage,1200 BLOCK OUTER LOOP,LOUISVILLE,40219,3
3,LMPD23121633,12/11/2023,2023/12/09 05:00:00+00,8142.0,24 VANDALISM,CRIMINAL MISCHIEF-3RD DEGREE 512.040 01403 290,290,A,Yes,7th Division,723,Residence/Home,7500 BLOCK FARMHOUSE LN,LOUISVILLE,40291,4
4,LMPD23121790,12/11/2023,2023/12/10 05:00:00+00,5597.0,19 THEFT FR BLDG,"TBUT OR DISP FROM BUILDING $1,000 < $10,000 51...",23D,A,Yes,5th Division,512,Service/Gas Station,1100 BLOCK BARDSTOWN RD,LOUISVILLE,40204,5

In [27]:
louis_population_df.head()

              Series ID  Year Period     Label  Value
0  LAUMT213114000000003  2021    M01  2021 Jan    5.1
1  LAUMT213114000000003  2021    M02  2021 Feb    4.6
2  LAUMT213114000000003  2021    M03  2021 Mar    4.6
3  LAUMT213114000000003  2021    M04  2021 Apr    4.2
4  LAUMT213114000000003  2021    M05  2021 May    3.8

In [28]:
louis_unemployment_df.head()

              Series ID  Year Period     Label  Value
0  LAUMT213114000000003  2021    M01  2021 Jan    5.1
1  LAUMT213114000000003  2021    M02  2021 Feb    4.6
2  LAUMT213114000000003  2021    M03  2021 Mar    4.6
3  LAUMT213114000000003  2021    M04  2021 Apr    4.2
4  LAUMT213114000000003  2021    M05  2021 May    3.8

In [ ]:
birm_crime_df.head()